main {
    background: #DBF6FF;
}

.titulo-Principal {
    color: #8B4513;
    font-family: Pacifico, cursive;
    font-size: 3.5rem;
    padding-top: 15px;
    text-align: center;
}

.produto {
    align-items: center;
    border: inset 10px;
    background: #A9A9A9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5% 20%;
}

.produto-Imagem {
    height: 250px;
    padding: 5px;
    padding-bottom: 15px;
    width: 300px;
}

.logo-Numero {
    padding-bottom: 25px;
    text-align: center;

}